@import '~antd/dist/antd.css';

#root {
    display: flex;
    flex: 1;
    height: 100%;
}

.account-info .ant-card-head {
    height: 65px;
}

.account-info h4,
.account-info p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-menu-item.approve-celr {
    position: absolute;
    bottom: 0;
}

.ant-statistic-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-input-number {
    width: 315px;
}

.dropdown-filter {
    display: inline-block;
    margin-right: 10px;
}

.dropdown-filter .ant-form-item-control-wrapper {
    display: inline-block;
}
